# .NET build folders
bin/
obj/

# IDE files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options directory
.vs/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Others
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.sass-cache/
.config/

# Configuration files with sensitive data
Web.config

# Error logs
App_Data/ErrorLogs/

# PDF templates uploaded by users
Pdftemplates/

# Agreements signed by users
Agreements/