<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDirectory" value="${basedir}/App_Data/CORD/Logs"/>

  <targets async="true">
    <target xsi:type="File"
            name="allfile"
            fileName="${logDirectory}/ehs-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=|${exception:format=tostring}}"
            archiveFileName="${logDirectory}/archives/ehs-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="30"
            keepFileOpen="false"/>

    <target xsi:type="File"
            name="errorfile"
            fileName="${logDirectory}/ehs-errors-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${newline}${exception:format=tostring}"
            archiveFileName="${logDirectory}/archives/ehs-errors-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="30"/>

    <target xsi:type="Debugger"
            name="debugger"
            layout="${level:uppercase=true}|${logger}|${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="allfile" />
    <logger name="*" minlevel="Warn" writeTo="errorfile" />
    <logger name="*" minlevel="Debug" writeTo="debugger" />
  </rules>
</nlog>
