<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <!-- Debug: override to local SQL Server instance -->
    <add name="DefaultConnection"
         connectionString="Data Source=localhost;Initial Catalog=ESH;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="SetAttributes(debug)" debug="true" />
  </system.web>

</configuration>
