@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "CLIP" }, FormMethod.Post, new { id = "logoutForm", @class = "d-flex" }))
    {
    @Html.AntiForgeryToken()

    <ul class="navbar-nav d-flex">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user-circle me-1"></i>
                @User.Identity.GetUserName()
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                <li>
                    @Html.ActionLink("Profile", "Index", "Manage", new { area = "CLIP" }, new { title = "Manage", @class = "dropdown-item" })
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item text-danger" href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fas fa-sign-out-alt me-1"></i> Log Out
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    }
}
else
{
    <ul class="navbar-nav d-flex">
        <li class="nav-item">
            @Html.ActionLink("Log in", "Login", "Account", new { area = "CLIP" }, new { id = "loginLink", @class="nav-link" })
        </li>
    </ul>
}
