USE [master]
GO
/****** Object:  Database [ESH]    Script Date: 27/05/2025 10:00:15 ******/
CREATE DATABASE [ESH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ESH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ESH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ESH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESH]
GO
/****** Object:  Schema [CLIP]    Script Date: 27/05/2025 10:00:15 ******/
CREATE SCHEMA [CLIP]
GO
/****** Object:  Schema [FETS]    Script Date: 27/05/2025 10:00:15 ******/
CREATE SCHEMA [FETS]
GO
/****** Object:  Table [CLIP].[__MigrationHistory]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CLIP].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_CLIP.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CLIP].[ActivityTrainings]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CLIP].[ActivityTrainings](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ActivityName] [nvarchar](max) NOT NULL,
	[ActivityDate] [datetime] NOT NULL,
	[Document] [nvarchar](max) NULL,
	[ATOM_CEP_Points] [int] NULL,
	[DOE_CPD_Points] [int] NULL,
	[DOSH_CEP_Points] [int] NULL,
 CONSTRAINT [PK_CLIP.ActivityTrainings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CLIP].[AspNetRoles]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CLIP].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_CLIP.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CLIP].[AspNetUserClaims]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CLIP].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_CLIP.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CLIP].[AspNetUserLogins]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CLIP].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_CLIP.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CLIP].[AspNetUserRoles]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CLIP].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_CLIP.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CLIP].[AspNetUsers]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CLIP].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[EmpID] [nvarchar](max) NULL,
	[DOE_CPD] [int] NULL,
	[Atom_CEP] [int] NULL,
	[Dosh_CEP] [int] NULL,
 CONSTRAINT [PK_CLIP.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CLIP].[CertificateOfFitness]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CLIP].[CertificateOfFitness](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlantId] [int] NOT NULL,
	[RegistrationNo] [nvarchar](100) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[MachineName] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[DocumentPath] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NULL,
	[HostInfo] [nvarchar](255) NULL,
	[Department] [nvarchar](255) NULL,
	[ResidentInfo] [nvarchar](255) NULL,
 CONSTRAINT [PK_CLIP.CertificateOfFitness] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CLIP].[CompetencyModules]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CLIP].[CompetencyModules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ModuleName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[AnnualPointDeduction] [int] NULL,
	[CompetencyType] [nvarchar](100) NULL,
 CONSTRAINT [PK_CLIP.CompetencyModules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CLIP].[Monitoring]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CLIP].[Monitoring](
	[MonitoringID] [int] IDENTITY(1,1) NOT NULL,
	[MonitoringName] [nvarchar](100) NOT NULL,
	[MonitoringCategory] [nvarchar](100) NULL,
	[MonitoringFreq] [int] NULL,
 CONSTRAINT [PK_CLIP.Monitoring] PRIMARY KEY CLUSTERED 
(
	[MonitoringID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CLIP].[PlantMonitoring]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CLIP].[PlantMonitoring](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlantID] [int] NOT NULL,
	[MonitoringID] [int] NOT NULL,
	[Area] [nvarchar](100) NULL,
	[ExpDate] [datetime] NULL,
	[QuoteDate] [date] NULL,
	[QuoteSubmitDate] [datetime] NULL,
	[QuoteCompleteDate] [datetime] NULL,
	[QuoteUserAssign] [nvarchar](100) NULL,
	[EprDate] [datetime] NULL,
	[EprSubmitDate] [datetime] NULL,
	[EprCompleteDate] [datetime] NULL,
	[EprUserAssign] [nvarchar](100) NULL,
	[WorkDate] [datetime] NULL,
	[WorkSubmitDate] [datetime] NULL,
	[WorkCompleteDate] [datetime] NULL,
	[WorkUserAssign] [nvarchar](100) NULL,
	[Remarks] [nvarchar](max) NULL,
	[RenewDate] [date] NULL,
	[QuoteDoc] [nvarchar](max) NULL,
	[ePRDoc] [nvarchar](max) NULL,
	[WorkDoc] [nvarchar](max) NULL,
	[ProcStatus] [nvarchar](50) NULL,
	[ExpStatus] [nvarchar](50) NULL,
 CONSTRAINT [PK_CLIP.PlantMonitoring] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CLIP].[Plants]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CLIP].[Plants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlantName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CLIP.Plants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CLIP].[UserCompetencies]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CLIP].[UserCompetencies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[CompetencyModuleId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CompletionDate] [date] NULL,
	[ExpiryDate] [date] NULL,
	[Remarks] [nvarchar](max) NULL,
	[Building] [nvarchar](100) NULL,
 CONSTRAINT [PK_CLIP.UserCompetencies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CLIP].[UserPlants]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CLIP].[UserPlants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[PlantId] [int] NOT NULL,
 CONSTRAINT [PK_CLIP.UserPlants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FETS].[ActivityLogs]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FETS].[ActivityLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[EntityType] [nvarchar](50) NULL,
	[EntityID] [nvarchar](50) NULL,
	[IPAddress] [nvarchar](50) NULL,
	[Timestamp] [datetime] NULL,
 CONSTRAINT [PK_FETS.ActivityLogs] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FETS].[EmailRecipients]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FETS].[EmailRecipients](
	[RecipientID] [int] IDENTITY(1,1) NOT NULL,
	[EmailAddress] [nvarchar](100) NOT NULL,
	[RecipientName] [nvarchar](100) NULL,
	[NotificationType] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[DateAdded] [datetime] NULL,
 CONSTRAINT [PK_FETS.EmailRecipients] PRIMARY KEY CLUSTERED 
(
	[RecipientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FETS].[FireExtinguishers]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FETS].[FireExtinguishers](
	[FEID] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](50) NOT NULL,
	[PlantID] [int] NOT NULL,
	[LevelID] [int] NOT NULL,
	[Location] [nvarchar](200) NOT NULL,
	[TypeID] [int] NOT NULL,
	[DateExpired] [date] NOT NULL,
	[Remarks] [nvarchar](500) NULL,
	[StatusID] [int] NOT NULL,
	[StandbyStatus] [nvarchar](50) NULL,
	[ServiceRemarks] [nvarchar](max) NULL,
	[Replacement] [nvarchar](50) NULL,
	[DateSentService] [datetime] NULL,
	[AreaCode] [varchar](20) NULL,
 CONSTRAINT [PK_FETS.FireExtinguishers] PRIMARY KEY CLUSTERED 
(
	[FEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [FETS].[FireExtinguisherTypes]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FETS].[FireExtinguisherTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FETS.FireExtinguisherTypes] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FETS].[Levels]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FETS].[Levels](
	[LevelID] [int] IDENTITY(1,1) NOT NULL,
	[PlantID] [int] NOT NULL,
	[LevelName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FETS.Levels] PRIMARY KEY CLUSTERED 
(
	[LevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FETS].[MapImages]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FETS].[MapImages](
	[MapID] [int] IDENTITY(1,1) NOT NULL,
	[PlantID] [int] NOT NULL,
	[LevelID] [int] NOT NULL,
	[ImagePath] [nvarchar](500) NOT NULL,
	[UploadDate] [datetime] NULL,
 CONSTRAINT [PK_FETS.MapImages] PRIMARY KEY CLUSTERED 
(
	[MapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FETS].[Plants]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FETS].[Plants](
	[PlantID] [int] IDENTITY(1,1) NOT NULL,
	[PlantName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_FETS.Plants] PRIMARY KEY CLUSTERED 
(
	[PlantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FETS].[ServiceReminders]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FETS].[ServiceReminders](
	[ReminderID] [int] IDENTITY(1,1) NOT NULL,
	[FEID] [int] NOT NULL,
	[ReminderDate] [datetime] NOT NULL,
	[ReminderSent] [bit] NULL,
	[DateCompleteService] [datetime] NULL,
 CONSTRAINT [PK_FETS.ServiceReminders] PRIMARY KEY CLUSTERED 
(
	[ReminderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FETS].[Status]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FETS].[Status](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
	[ColorCode] [nvarchar](7) NOT NULL,
 CONSTRAINT [PK_FETS.Status] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FETS].[Users]    Script Date: 27/05/2025 10:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FETS].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [varbinary](256) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[PlantID] [int] NULL,
 CONSTRAINT [PK_FETS.Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 27/05/2025 10:00:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [CLIP].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 27/05/2025 10:00:15 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [CLIP].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 27/05/2025 10:00:15 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [CLIP].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 27/05/2025 10:00:15 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [CLIP].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 27/05/2025 10:00:15 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [CLIP].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 27/05/2025 10:00:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [CLIP].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CertificateOfFitness_RegistrationNo]    Script Date: 27/05/2025 10:00:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CertificateOfFitness_RegistrationNo] ON [CLIP].[CertificateOfFitness]
(
	[RegistrationNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CompetencyModuleId]    Script Date: 27/05/2025 10:00:15 ******/
CREATE NONCLUSTERED INDEX [IX_CompetencyModuleId] ON [CLIP].[UserCompetencies]
(
	[CompetencyModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 27/05/2025 10:00:15 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [CLIP].[UserCompetencies]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlantId]    Script Date: 27/05/2025 10:00:15 ******/
CREATE NONCLUSTERED INDEX [IX_PlantId] ON [CLIP].[UserPlants]
(
	[PlantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 27/05/2025 10:00:15 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [CLIP].[UserPlants]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ActivityLogs_EntityType_EntityID]    Script Date: 27/05/2025 10:00:15 ******/
CREATE NONCLUSTERED INDEX [IX_ActivityLogs_EntityType_EntityID] ON [FETS].[ActivityLogs]
(
	[EntityType] ASC,
	[EntityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActivityLogs_Timestamp]    Script Date: 27/05/2025 10:00:15 ******/
CREATE NONCLUSTERED INDEX [IX_ActivityLogs_Timestamp] ON [FETS].[ActivityLogs]
(
	[Timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActivityLogs_UserID]    Script Date: 27/05/2025 10:00:15 ******/
CREATE NONCLUSTERED INDEX [IX_ActivityLogs_UserID] ON [FETS].[ActivityLogs]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_FireExtinguishers_SerialNumber]    Script Date: 27/05/2025 10:00:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_FireExtinguishers_SerialNumber] ON [FETS].[FireExtinguishers]
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceReminders_ReminderDate]    Script Date: 27/05/2025 10:00:15 ******/
CREATE NONCLUSTERED INDEX [IX_ServiceReminders_ReminderDate] ON [FETS].[ServiceReminders]
(
	[ReminderDate] ASC,
	[ReminderSent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Username]    Script Date: 27/05/2025 10:00:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Users_Username] ON [FETS].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [CLIP].[ActivityTrainings] ADD  DEFAULT ((0)) FOR [ATOM_CEP_Points]
GO
ALTER TABLE [CLIP].[ActivityTrainings] ADD  DEFAULT ((0)) FOR [DOE_CPD_Points]
GO
ALTER TABLE [CLIP].[ActivityTrainings] ADD  DEFAULT ((0)) FOR [DOSH_CEP_Points]
GO
ALTER TABLE [CLIP].[AspNetUsers] ADD  DEFAULT ((0)) FOR [Dosh_CEP]
GO
ALTER TABLE [CLIP].[CertificateOfFitness] ADD  DEFAULT ('Unknown') FOR [MachineName]
GO
ALTER TABLE [CLIP].[CertificateOfFitness] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [FETS].[ActivityLogs] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [FETS].[EmailRecipients] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [FETS].[EmailRecipients] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [FETS].[MapImages] ADD  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [FETS].[ServiceReminders] ADD  DEFAULT ((0)) FOR [ReminderSent]
GO
ALTER TABLE [CLIP].[ActivityTrainings]  WITH CHECK ADD  CONSTRAINT [FK_ActivityTrainings_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [CLIP].[AspNetUsers] ([Id])
GO
ALTER TABLE [CLIP].[ActivityTrainings] CHECK CONSTRAINT [FK_ActivityTrainings_AspNetUsers]
GO
ALTER TABLE [CLIP].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [CLIP].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [CLIP].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers]
GO
ALTER TABLE [CLIP].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [CLIP].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [CLIP].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers]
GO
ALTER TABLE [CLIP].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles] FOREIGN KEY([RoleId])
REFERENCES [CLIP].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [CLIP].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles]
GO
ALTER TABLE [CLIP].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [CLIP].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [CLIP].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers]
GO
ALTER TABLE [CLIP].[CertificateOfFitness]  WITH CHECK ADD  CONSTRAINT [FK_CertificateOfFitness_Plants] FOREIGN KEY([PlantId])
REFERENCES [CLIP].[Plants] ([Id])
GO
ALTER TABLE [CLIP].[CertificateOfFitness] CHECK CONSTRAINT [FK_CertificateOfFitness_Plants]
GO
ALTER TABLE [CLIP].[PlantMonitoring]  WITH CHECK ADD  CONSTRAINT [FK_PlantMonitoring_Monitoring] FOREIGN KEY([MonitoringID])
REFERENCES [CLIP].[Monitoring] ([MonitoringID])
GO
ALTER TABLE [CLIP].[PlantMonitoring] CHECK CONSTRAINT [FK_PlantMonitoring_Monitoring]
GO
ALTER TABLE [CLIP].[PlantMonitoring]  WITH CHECK ADD  CONSTRAINT [FK_PlantMonitoring_Plants] FOREIGN KEY([PlantID])
REFERENCES [CLIP].[Plants] ([Id])
GO
ALTER TABLE [CLIP].[PlantMonitoring] CHECK CONSTRAINT [FK_PlantMonitoring_Plants]
GO
ALTER TABLE [CLIP].[UserCompetencies]  WITH CHECK ADD  CONSTRAINT [FK_UserCompetencies_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [CLIP].[AspNetUsers] ([Id])
GO
ALTER TABLE [CLIP].[UserCompetencies] CHECK CONSTRAINT [FK_UserCompetencies_AspNetUsers]
GO
ALTER TABLE [CLIP].[UserCompetencies]  WITH CHECK ADD  CONSTRAINT [FK_UserCompetencies_CompetencyModules] FOREIGN KEY([CompetencyModuleId])
REFERENCES [CLIP].[CompetencyModules] ([Id])
GO
ALTER TABLE [CLIP].[UserCompetencies] CHECK CONSTRAINT [FK_UserCompetencies_CompetencyModules]
GO
ALTER TABLE [CLIP].[UserPlants]  WITH CHECK ADD  CONSTRAINT [FK_UserPlants_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [CLIP].[AspNetUsers] ([Id])
GO
ALTER TABLE [CLIP].[UserPlants] CHECK CONSTRAINT [FK_UserPlants_AspNetUsers]
GO
ALTER TABLE [CLIP].[UserPlants]  WITH CHECK ADD  CONSTRAINT [FK_UserPlants_Plants] FOREIGN KEY([PlantId])
REFERENCES [CLIP].[Plants] ([Id])
GO
ALTER TABLE [CLIP].[UserPlants] CHECK CONSTRAINT [FK_UserPlants_Plants]
GO
ALTER TABLE [FETS].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_ActivityLogs_Users] FOREIGN KEY([UserID])
REFERENCES [FETS].[Users] ([UserID])
GO
ALTER TABLE [FETS].[ActivityLogs] CHECK CONSTRAINT [FK_ActivityLogs_Users]
GO
ALTER TABLE [FETS].[FireExtinguishers]  WITH CHECK ADD  CONSTRAINT [FK_FireExtinguishers_FireExtinguisherTypes] FOREIGN KEY([TypeID])
REFERENCES [FETS].[FireExtinguisherTypes] ([TypeID])
GO
ALTER TABLE [FETS].[FireExtinguishers] CHECK CONSTRAINT [FK_FireExtinguishers_FireExtinguisherTypes]
GO
ALTER TABLE [FETS].[FireExtinguishers]  WITH CHECK ADD  CONSTRAINT [FK_FireExtinguishers_Levels] FOREIGN KEY([LevelID])
REFERENCES [FETS].[Levels] ([LevelID])
GO
ALTER TABLE [FETS].[FireExtinguishers] CHECK CONSTRAINT [FK_FireExtinguishers_Levels]
GO
ALTER TABLE [FETS].[FireExtinguishers]  WITH CHECK ADD  CONSTRAINT [FK_FireExtinguishers_Plants] FOREIGN KEY([PlantID])
REFERENCES [FETS].[Plants] ([PlantID])
GO
ALTER TABLE [FETS].[FireExtinguishers] CHECK CONSTRAINT [FK_FireExtinguishers_Plants]
GO
ALTER TABLE [FETS].[FireExtinguishers]  WITH CHECK ADD  CONSTRAINT [FK_FireExtinguishers_Status] FOREIGN KEY([StatusID])
REFERENCES [FETS].[Status] ([StatusID])
GO
ALTER TABLE [FETS].[FireExtinguishers] CHECK CONSTRAINT [FK_FireExtinguishers_Status]
GO
ALTER TABLE [FETS].[Levels]  WITH CHECK ADD  CONSTRAINT [FK_Levels_Plants] FOREIGN KEY([PlantID])
REFERENCES [FETS].[Plants] ([PlantID])
GO
ALTER TABLE [FETS].[Levels] CHECK CONSTRAINT [FK_Levels_Plants]
GO
ALTER TABLE [FETS].[MapImages]  WITH CHECK ADD  CONSTRAINT [FK_MapImages_Levels] FOREIGN KEY([LevelID])
REFERENCES [FETS].[Levels] ([LevelID])
GO
ALTER TABLE [FETS].[MapImages] CHECK CONSTRAINT [FK_MapImages_Levels]
GO
ALTER TABLE [FETS].[MapImages]  WITH CHECK ADD  CONSTRAINT [FK_MapImages_Plants] FOREIGN KEY([PlantID])
REFERENCES [FETS].[Plants] ([PlantID])
GO
ALTER TABLE [FETS].[MapImages] CHECK CONSTRAINT [FK_MapImages_Plants]
GO
ALTER TABLE [FETS].[ServiceReminders]  WITH CHECK ADD  CONSTRAINT [FK_ServiceReminders_FireExtinguishers] FOREIGN KEY([FEID])
REFERENCES [FETS].[FireExtinguishers] ([FEID])
GO
ALTER TABLE [FETS].[ServiceReminders] CHECK CONSTRAINT [FK_ServiceReminders_FireExtinguishers]
GO
ALTER TABLE [FETS].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Plants] FOREIGN KEY([PlantID])
REFERENCES [FETS].[Plants] ([PlantID])
GO
ALTER TABLE [FETS].[Users] CHECK CONSTRAINT [FK_Users_Plants]
GO
USE [master]
GO
